.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
  }
  
  .navbar {
    background: black;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.3);
  }
  
  
  .navbar-logo img {
    height: 50px;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-logo img:hover {
    transform: scale(1.1);
  }
  
  
  .navbar-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
  }
  
  
  .nav-item {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.2s, color 0.3s;
    padding: 8px 10px;
    border-radius: 5px;
    white-space: nowrap;
  }
  
  .nav-item:hover {
    color: red;
    transform: scale(1.1);
    background: rgba(255, 0, 0, 0.1);
  }
  