/*Dark Mode Button*/
.dark-mode-btn {
    background: red;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dark-mode-btn:hover {
    background: darkred;
    transform: scale(1.05);
  }
  
  .dark-mode-btn:active {
    transform: scale(0.95);
  }
  
  @media (max-width: 768px) {
    .dark-mode-btn {
      padding: 8px 15px;
      font-size: 14px;
    }
  }
  